.CTA {
  min-height: 50vh;
  background-color: var(--Primary-Dark);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.CTA-content {
  max-width: 1280px;
}

.icon {
  margin-bottom: 24px;
}

.icon img {
  width: 150px;
  height: auto;
}

.CTA h1 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
}

.CTA p {
  font-size: 24px;
  color: #fff;
  margin-bottom: 32px;
}

.cta-btn {
  background-color:var(--Landing-Bg);
  color:var(--Primary-Dark);
  border: none;
  padding: 14px 32px;
  border-radius: 999px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.cta-btn:hover {
  background-color:var(--Landing-Bg);
  transform: translateY(-2px);
}
 