.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Hover-Active);
  max-width: 1080px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 1rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: var(--Main-Text);
  text-align: center;
  margin-bottom: 3rem;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.label {
  font-size: 32px;
  font-weight: 400;
  color: var(--Main-Text);
}

.input {
  font-size: 24px;
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid var(--Primary-Blue);
  border-radius: 20px;
  background-color: var(--Landing-Bg);
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(220, 20, 60, 0.5);
}

.button {
  font-size: 24px;
  padding: 1.5rem 3rem;
  background-color: var(--Primary-Blue);
  text-transform: capitalize;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: var(--transition);
}

.button:hover {
  background-color: var(--Primary-Dark);
}

.error {
  color: #dc143c;
  font-size: 24px;
  margin-top: 1rem;
}

.link {
  font-size: 24px;
  color: var(--Main-Text);
  text-decoration: none;
  font-weight: 400;
  line-height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 32px;
  }
  .label {
    font-size: 24px;
  }
  .input {
    width: 100%;
    max-width: 400px;
    font-size: 20px;
  }
  .button {
    font-size: 20px;
    padding: 1rem 2rem;
  }
  .link {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .label {
    font-size: 20px;
  }
  .input {
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    padding: 1rem;
    border-radius: 14px;
  }
  .button {
    font-size: 16px;
    padding: 1rem 2rem;
    border-radius: 14px;
  }
  .link {
    font-size: 16px;
  }
}
